* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}



#container {
 
 grid-template: 
 'hd'
 'nv'
 'mn'
 'ft'
 'as'
 
}

h1 {

    font-size: 30px;
    
}

header {
    grid-area: hd;
    text-align: center;
    background-color: lavenderblush;
}




h2 {
display: flex;
font-size: 15px;
justify-content: space-evenly;
margin: 0px;
color: pink;


}

main {
 grid-area: mn;
 height: 35vh;
 text-align: center;
 background-color: lightpink;

}

.sale {
    height: 50vh;
    width: 50vh;
}


footer {
    grid-area: ft;
    height: 55vh;
    text-align: center;
    background-color: pink;
}


aside {
grid-area: as;
height: 40vh;
 text-align: center;
 background-color: mistyrose;


}

.row {

text-align: left;


}

.column {

    text-align: center;
    
    
}

.side {

    text-align: right;
}


h6 {

    font-size: 10px;
}

