* {
    margin: 0;
    padding:0;
    box-sizing: 30vh;
}



#container {
 display: grid;
 height: 30vh;
 grid-template: 
 'hd'
 'nv'
 'mn'
 'ft'
 'as'
 
}

h1 {

    font-size: 10px;
}

header {

    text-align: center;
    background-color: lavenderblush;
}


nav {

    height: 50vh;


}


main {

    height: 50vh;
    text-align: center;
    background-color: lightpink;

}


footer {

    height: 30vh;
    text-align: center;
    background-color: pink;
}


aside {

    height: 25vh;
    text-align: center;
    background-color: mistyrose;


}