* {
    margin: 0;
    padding:0;
    box-sizing: 30vh;
}



#container {
 display: grid;
 height: 30vh;
 grid-template: 
 'hd'
 'nv'
 'mn'
 'ft'
 'as'
 
}

h1 {

    font-size: 30px;
    
}

header {

    text-align: center;
    background-color: lavenderblush;
}


nav {

    height: 10vh;
    display: flex; 
    justify-content: center; 

}

.navLinks {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    position: absolute; 
    right: 0px;
}


main {

    height: 50vh;
    text-align: center;
    background-color: lightpink;

}


footer {

    height: 50vh;
    text-align: center;
    background-color: pink;
}


aside {

    height: 25vh;
    text-align: center;
    background-color: mistyrose;


}
