* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}



#container {
 
 grid-template: 
 'hd'
 'nv'
 'mn'
 'ft'
 'as'
 
}

h1 {

    font-size: 30px;
    
}

header {
    grid-area: hd;
    text-align: center;
    background-color: lavenderblush;
}




h2 {
display: flex;
font-size: 15px;
justify-content: space-evenly;
margin: 0px;
color: pink;
font-family: 'Lucida Sans';

}

main {
 grid-area: mn;
 height: 50vh;
 text-align: center;
 background-color: lightpink;

}


footer {
    grid-area: ft;
    height: 50vh;
    text-align: center;
    background-color: pink;
}


aside {
grid-area: as;
height: 20vh;
 text-align: center;
 background-color: mistyrose;


}
